x-tolerations: &tolerations
  - key: "cwm-iac-worker-role"
    operator: "Equal"
    value: "system"
    effect: "NoExecute"

kube-prometheus-stack:
  crds:
    upgradeJob:
      tolerations: *tolerations
  alertmanager:
    alertmanagerSpec:
      tolerations: *tolerations
      resources:
        requests:
          cpu: 400m
          memory: 300Mi
        limits:
          memory: 500Mi
      storage:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            resources:
              requests:
                storage: 5Gi

  grafana:
    tolerations: *tolerations
    resources:
      requests:
        cpu: 500m
        memory: 400Mi
      limits:
        memory: 800Mi
    persistence:
      enabled: true
      storageClassName: longhorn
      size: 5Gi
    admin:
      existingSecret: "grafana-admin-password"
    additionalDataSources:
      - name: "Loki"
        type: loki
        url: "http://logging-loki-gateway.logging"
        jsonData:
          maxLines: 1000
          timeout: 60

  prometheusOperator:
    admissionWebhooks:
      deployment:
        tolerations: *tolerations
      patch:
        tolerations: *tolerations
    tolerations: *tolerations
    namespaces: {}
    denyNamespaces:
      - default
    resources:
      requests:
        cpu: 200m
        memory: 200Mi
      limits:
        memory: 400Mi

  prometheus:
    prometheusSpec:
      tolerations: *tolerations
      retention: 7d
      resources:
        requests:
          cpu: 400m
          memory: 600Mi
        limits:
          memory: 1200Mi
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: longhorn
            resources:
              requests:
                storage: 100Gi

  kubeEtcd:
    enabled: false

  kubeScheduler:
    enabled: false

  kubeControllerManager:
    enabled: false

  kubeProxy:
    enabled: false

  kube-state-metrics:
    tolerations: *tolerations
